<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="..\vue-2.4.0.js"></script>
</head>

<body>
    <div id="app">
        用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：
        <input
            v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：
            <input
                v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：
                <input
                    v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：
                    <input
                        v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：
                        <input
                            v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：
                            <input
                                v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：
                                <input
                                    v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}}用户名：
                                    <input
                                        v-model="test"><br>{{test}}用户名：<input v-model="test"><br>{{test}} 用户名：
                                        <input v-model="test"><br>{{test}}

    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                test: 'lssddab'
            }
        });
    </script>
</body>

</html>