@charset "utf-8";
/* CSS Document */
/*页面整体布局*/
.mr-cont{
	height: 474px;
	width: 685px;
	margin: 20px auto;
	border: 1px solid #f00;
	background: url(../img/bg.png);
}
.mr-cont div{
	width: 400px;
	text-align: center;
	margin: 30px 0 0 140px;
}
.red{
	font-size: 12px;
	color: #f00;
}
.addr input{
margin: auto 20px;
}
[type="radio"]{
	margin: 0 30px;
}
p{
	text-align: left;
	margin-left: 45px;
}
/*文本域的大小*/
textarea{
	height: 80px;
	width: 390px;
}
#btn{
	margin-top: 10px;
}
/*设置"提交"、"保存"、"充填"按钮的大小*/
#btn input{
	width: 80px;
	height: 30px;
}


