@charset "utf-8";
/*css document*/
.cont {
	height: 800px;
	border: 1px solid red;
}
.txt, .img {
	float: left;
	margin-top: 100px;
}
.txt {
	padding-top: 80px;
	width: 600px;
	margin-left: 120px;
}
.txt:first-line {
	font-size: 80px;
}
.img {
	width: 500px;
	margin-left: 130px;
}
p {
	font-size: 25px;
	line-height: 50px;
}
p:first-letter {
	font-size: 40px;
	padding-right: 10px;
}
